* {
    margin: 0;
    padding: 0; 
}

body{
    overflow: hidden;
}

.icon{
    fill:red;
    height: 30px;
    width: 30px;
}

canvas{
    background-color:bisque;
    display: block;
    position: fixed;
}